.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  background-color: $primaryColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  
  &:not(:last-child) {
    margin-right: 20px;
  }
  
}

img {
  width: 100%;
  display: block;
}

header a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: $solidWhite;
}

a {
  cursor: pointer;
}

header a:hover,
header a:focus {
  color: $accentColor; 
}



.displayNone {
  display: none;
}

.errorDisplay {
  color: $tertiaryColor;
}

.movieTitleDisplay {
  color: $secondaryColor;
}