footer {
    background-color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: inline-block;
        transition: 0.3s;
        color: black;

    }
}