header {
    min-height: 100vh;
}

.generateUrl,
.searchUrl {
    color: $tertiaryColor;
}

.headerImgContainer {
    display: flex; 
    justify-content: end; 

    img {
        width: 80%;
        margin: 150px 0;
    }
}

.headerImage {
    display: flex;
    justify-content: space-between; 
    
    .headerHeadingContainer {
        display: flex;
        align-items: center; 
        color: $accentColor;
        margin-top: 200px;
        min-width: 300px;
    }
}
