main {

    background-color: $quaternary;

    .randomize {
        background: rgba($color: $solidWhite, $alpha: 0.1);
        border-radius: 15px;
    }

    .poster {
        width: 300px;
        height: 400px;
    }

    h2 {
        color: $solidWhite;
        margin-bottom: 100px;
        padding-top: 40px;
        text-align: center;
    }


    section {
        padding: 50px 0;
        text-align: center;
        color: $solidWhite;
    }

    p {
        line-height: 2.5rem;

        &:not(:last-child) {
            margin-top: 15px;
        }
    }


    img {
        margin: 0 auto;
    }

    button {
        padding: 15px 30px;
        background-color: $solidWhite;
        border: 2px solid $primaryColor;
        color: $primaryColor;
        border-radius: 10px;
        transition: 0.3s;

        &:hover,
        :focus {
            border: 2px solid $solidWhite;
            background-color: $primaryColor;
            color: $solidWhite;
        }
    }

    .bottomImg {
        padding: 0;
    }
}