main {
    padding-bottom: 100px; 

    .randomize {
        background: $solidWhite;
        border-radius: 15px; 
    }

    img {
        width: 20%; 
    }

    h2 {
        color: $solidWhite; 
        margin-bottom: 50px;
    }
}