@media (max-width: 1100px) {
    .headerImgContainer {
        img {
            width: 100%;
        }
    }

    .wrapper {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .headerImgContainer {
        img {
            margin: 0;
            margin-top: 50px;
        }
    }
    .headerImage {
        flex-direction: column-reverse;

        .headerHeadingContainer {
            margin: 0 auto;
            margin-top: 50px;
        }
    }
}

@media (max-width: 645px) {
    header {
        min-height: 90vh;

        li {
            &:first-child {
                display: block;
            }

            &:not(:first-child) {
                display: inline-block;
            }
        }
    }

    .searchHeader {
        padding-bottom: 25px;
    }
}

@media (max-width: 500px) {
    header {
        min-height: 70vh;
    }

    .search form {
        flex-direction: column;

        button {
            margin-top: 3px;
        }
    }
}

@media (max-width: 350px) {
    .headerNav li:last-child {
        margin-top: 25px;
    }
}