.search form {
  display: flex;
  align-items: center;
  justify-content: center;

  .searchInput {
    width: 250px;
    padding: 15px 30px;
    font-family: $baseFont;
    font-size: 1rem;
    margin-right: 2px;
  }

  .submitSearchBtn {
    border-radius: 0;
    background-color: black;
    border-color: transparent;
    color: $solidWhite;
    font-size: 1rem;
    transition: 300ms;

    &:hover {
      color: black;
      background-color: $secondaryColor;
    }
  }

}

li img {
  width: 200px;
  height: 250px;
}

.movieUl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  li {
    width: 250px;
    padding-top: 50px;
  }
}