h1 {
  font-family: $headingFont;
  font-size: 2rem;
}

p,
h2 {
  font-family: $baseFont;
  font-size: 1.5rem;
}

a {
  font-family: $baseFont;
  font-size: 1rem;
}

header h2 {
  font-family: $sloganFont;
  font-size: 2.5rem;
}

.randomizeBtn {
  font-family: $baseFont; 
  font-size: 1rem;
}

footer,
footer a {
  font-size: 1.3rem;
}