// fonts

$headingFont: 'Paytone One', sans-serif;
$baseFont: 'Lato', sans-serif;

// colors

$primaryColor: #25335C; 
$secondaryColor:  #FBC2C1;
$tertiaryColor: #F04A47;
$accentColor: #64FFFF;
$solidWhite: white; 