// fonts

$headingFont: 'Paytone One', sans-serif;
$baseFont: 'Lato', sans-serif;
$sloganFont: 'Dancing Script', cursive;

// colors

$primaryColor: #25335C; 
$secondaryColor:  #FBC2C1;
$tertiaryColor: #F04A47;
$quaternary: #2F2E41;
$accentColor: #FFE9B3;

$solidWhite: #ffff;