// fonts

$headingFont: 'Paytone One', sans-serif;
$baseFont: 'Lato', sans-serif;
$sloganFont: 'Dancing Script', cursive;

// colors

$primaryColor: rgb(37, 51, 92);
$secondaryColor:  rgb(251, 194, 193);
$tertiaryColor: rgb(240, 74, 71);
$quaternary: rgb(47, 46, 65);
$accentColor: rgb(255, 233, 179);

$solidWhite: rgba(255, 255, 255);