html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background: #fff;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  display: inline-block;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
}

p,
h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

header h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}

.randomizeBtn {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

footer p {
  font-size: 1.3rem;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  background-color: #25335C;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
li:not(:last-child) {
  margin-right: 20px;
}

img {
  width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

a:hover,
a:focus,
button:hover,
button:focus {
  cursor: pointer;
  color: #F04A47;
}

.displayNone {
  display: none;
}

.errorDisplay {
  color: #F04A47;
}

.movieTitleDisplay {
  color: #FBC2C1;
}

header {
  min-height: 100vh;
}

.generateUrl,
.searchUrl {
  color: #F04A47;
}

.headerImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 50px;
}
.headerImgContainer img {
  width: 80%;
  margin: 150px 0;
}

.headerImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerImage .headerHeadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFE9B3;
  margin-top: 200px;
  min-width: 300px;
}

main {
  background-color: #29304E;
}
main .randomize {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
main .poster {
  width: 300px;
  height: 400px;
}
main h2 {
  color: white;
  margin-bottom: 100px;
  padding-top: 40px;
  text-align: center;
}
main section {
  padding: 50px 0;
  text-align: center;
  color: white;
}
main p {
  line-height: 2.5rem;
}
main p:not(:last-child) {
  margin-top: 15px;
}
main img {
  margin: 0 auto;
}
main button {
  padding: 15px 30px;
  background-color: white;
  border: 2px solid #25335C;
  color: #25335C;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main button:hover,
main button :focus {
  border: 2px solid white;
  background-color: #25335C;
  color: white;
}
main .bottomImg {
  padding: 0;
}

.search form {
  text-align: center;
}
.search form .searchInput {
  width: 250px;
  padding: 15px 30px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
.search form .submitSearchBtn {
  border-radius: 0;
  border: 2px solid white;
  font-size: 1rem;
}

li img {
  width: 200px;
  height: 250px;
}

.movieUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.movieUl li {
  width: 250px;
  padding-top: 50px;
}

footer {
  background: #FBC2C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}